<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
</style>
</head>
<body style="background-image: url({{ url_for('static', filename='bk.jpg') }})">

<ul>
  <li><a class="active" href="/farmerhome">Home</a></li>
  <li><a href="/recommend">Crop Recommendation</a></li>
  <li style="float:right"><a href="/logout">Logout</a></li>
</ul>
<div style="padding-top:100px;padding-left:250px;">
<h1> Recommended Crop is {{rc}}</h1>
</div>
</body>
</html>


